<!DOCTYPE html> {% load static %}
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ระบบแนะนำสถานที่ท่องเที่ยวในประเทศไทยโดยใช้เทคนิคการทำเหมืองข้อความ</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=K2D:300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sarabun&display=swap" rel="stylesheet">

    
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- select2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

    <link href="{% static 'css/select2-bootstrap4.css' %}" rel="stylesheet"> <!-- for local development env -->



    

    <!-- <link rel="stylesheet" href="css/responsive.css"> -->

<style>

#instagram-img{
    height: 60px;
    object-fit: cover;
}
.logo i:hover {
    color: #1EC6B6 !important;
}
</style>


</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area">
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="header_bottom_border" style="font-size: 20px;">
                        <div class="row align-items-center">
                            <div class="col-xl-1 col-lg-1">
                                <div class="logo">
                                    <a href="/">
                                        {% comment %} <strong style="color:#FF4A52;">หน้าหลัก</strong> {% endcomment %}
                                    <i class="fa fa-home fa-fw" style="font-size: 30px; color: #FF4A52;"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-11 col-lg-11">
                                <div class="main-menu d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a class="active" href="/attraction">แหล่งท่องเที่ยว</a></li>
                                            <li><a href="/rank_country">อันดับสถานที่ท่องเที่ยวยอดนิยม</a></li>
                                            <li><a href="/rank_province">สถานที่ท่องเที่ยวยอดนิยมในแต่ละจังหวัด</a></li>
                                            {% comment %} <li><a href="#">Visualization <i class="ti-angle-down"></i></a>
                                                <ul class="submenu">
                                                    <li><a href="destination_details.html">ระดับประเทศ</a></li>
                                                    <li><a href="elements.html">ระดับจังหวัด</a></li>
                                                </ul>
                                            </li> {% endcomment %}
                                            <li><a href="/news">ข่าวสาร</a></li>
                                            
                                            {% if request.user.is_authenticated %}
                                            <li><a href="/plan">My Plan</a></li>
                                            <li><a href="#"><i class="fa fa-user fa-fw" style="font-size:14px;"></i>{{request.user.username}}<i class="ti-angle-down"></i></a>
                                                <ul class="submenu">
                                                    <li><a href="/logout">Logout</a></li>
                                                </ul>
                                            </li>
                                            {% else %}
                                            <li><a href="/register">สมัครสมาชิก</a></li>
                                            <li><a href="/login"><i class="fa fa-sign-in fa-fw" style="font-size:16px;"></i>ลงชื่อเข้าใช้งาน</a></li>
                                            
                                            {% endif %}

                                        </ul>

                                    </nav>
                                </div>

                            </div>
                            <div class="seach_icon">
                                <a data-toggle="modal" data-target="#exampleModalCenter" href="#">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>


                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
    {% endif %}







    {% block content %} {% endblock %}

  


    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-lg-4 ">
                        <div class="footer_widget">
                            
                            <p >ระบบแนะนำสถานที่ท่องเที่ยวในประเทศไทย <br> โดยใช้เทคนิคการทำเหมืองข้อความ <br>

                            <a>System for Suggesting Tourist Attractions in Thailand Using Text Mining</a>
                            </p>

                            {% comment %} <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="ti-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-twitter-alt"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-pinterest"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-youtube-play"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div> {% endcomment %}


                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                ประเภทสถานที่ท่องเที่ยว
                            </h3>
                            <ul class="links">
                                <li><a href="/search/?q=&province=จังหวัด&category=ทะเลและชายหาด">ทะเลและชายหาด</a></li>
                                <li><a href="/search/?q=&province=จังหวัด&category=น้ำตก">น้ำตก</a></li>
                                <li><a href="/search/?q=&province=จังหวัด&category=เที่ยวท้องถิ่น"> เที่ยวท้องถิ่น</a></li>
                                <li><a href="/search/?q=&province=จังหวัด&category=วัด"> วัด</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                ปลายทางยอดนิยม
                            </h3>
                            <ul class="links double_links">
                                <li><a href="/search/?province=กรุงเทพฯ">กรุงเทพฯ</a></li>
                                <li><a href="/search/?province=ภูเก็ต">ภูเก็ต</a></li>
                                <li><a href="/search/?province=แม่ฮ่องสอน">แม่ฮ่องสอน</a></li>
                                <li><a href="/search/?province=เลย">เลย</a></li>
                                <li><a href="/search/?province=เชียงใหม่">เชียงใหม่</a></li>
                                <li><a href="/search/?province=สุราษฎร์ธานี">สุราษฎร์ธานี</a></li>
                                <li><a href="/search/?province=สงขลา">สงขลา</a></li>
                                <li><a href="/search/?province=ชลบุรี">ชลบุรี</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                รูปภาพ
                            </h3>
                            <div class="instagram_feed">
                                <div class="single_insta">
                                    <a href="/attraction/910">
                                        <img src="{% static 'img/instagram/ancient-architecture-asia-buddhism-130158.jpg' %}" id="instagram-img" alt="">
                                    </a>
                                </div>
                                <div class="single_insta">
                                    <a href="/attraction/147">
                                        <img src="{% static 'img/instagram/D8v4ATJV4AE-tRZ.png' %}" id="instagram-img" alt="">

                                    </a>
                                </div>
                                <div class="single_insta">
                                    <a href="/attraction/1071">
                                        <img src="{% static 'img/instagram/ESWVxrpUwAYmasi.png' %}" id="instagram-img" alt="">

                                    </a>
                                </div>
                                <div class="single_insta">
                                    <a href="/attraction/4629">
                                        <img src="{% static 'img/instagram/photo-of-wat-arun-temple-1031659.jpg' %}" id="instagram-img" alt="">

                                    </a>
                                </div>
                                <div class="single_insta">
                                    <a href="/attraction/4132">
                                        <img src="{% static 'img/instagram/robin-noguier-sydwCr54rf0-unsplash.jpg' %}" id="instagram-img" alt="">

                                    </a>
                                </div>
                                <div class="single_insta">
                                    <a href="/attraction/4596">
                                        <img src="{% static 'img/instagram/florian-wehde-fwtPzBjW-A0-unsplash.jpg' %}" id="instagram-img" alt="">

                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>

    <!-- Modal -->
  <div class="modal fade custom_search_pop" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <form method='GET' action="{% url 'search' %}">
            <div class="serch_form">
                <input type="text" placeholder="Search" name="q" value='{{ request.GET.q }}'/>
                <button type="submit">search</button>
            </div>
        </form>   

         
      </div>
    </div>
  </div>




  
    <!-- JS here -->
    <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/ajax-form.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/scrollIt.js' %}"></script>
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/gijgo.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>

    <!-- select2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <!-- select2-bootstrap4-theme -->
    <script src="{% static 'js/script_select2.js' %}"></script>


    <!--contact js-->
    <script src="{% static 'js/contact.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>
    <script>
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-caret-down"></span>'
            }
        });
        window.setTimeout(function() {
            $(".alert").fadeTo(400, 0).slideUp(400, function(){
                $(this).remove(); 
            });
        }, 2000);
        
        $( "#dropdown" ).select2({
    theme: "bootstrap"
});
    </script>






</body>

</html>