{% extends 'attraction/base.html' %}
{% load static %}


{% block content %}
<style>
.des-info{
	padding-top: 20px;
	padding-left: 30px;
	padding-bottom: 40px;
	padding-right: 20px;
}
.content-attraction{
	padding-top: 20px;
	padding-left: 30px;
	padding-bottom: 20px;
	padding-right: 20px;
}
.bg-gray{
	background-color: #e4e4e4;
}
#detail-img{
		width:100%;
        height: 400px;
        object-fit: contain;
    }
#attraction-img{
    height: 170px;
    object-fit: cover;
    }
</style>



    

<div class="bg-light">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: #f8f9fa; padding-left: 0px; padding-top:20px;">
          <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> หน้าหลัก</a></li>
          <li class="breadcrumb-item"><a href="/attraction">แหล่งท่องเที่ยว</a></li>
		  <li class="breadcrumb-item active" aria-current="page">{{detail.name}}</li>
        </ol>
      </nav>
    </div>



 
<div class="destination_details_info" style="padding-top: 0px; padding-bottom: 1px;">
    <div class="container">
		<div class="destination">
			<div class="row">
    			<div class="col-lg-7">
					<div class="">
    					<img src="{{detail.img}}" class="img-fluid" id="detail-img" alt="">
    				</div>
				</div>
				

				<div class="col-lg-5">
					<div class="row">
						<div class="col-md-12">
							<div class="content-attraction bg-gray">
								<h3><strong>{{detail.name}}</strong></h3>
							</div>	
						</div>
					</div>
						
					<div class="row">
						<div class="col-md-12 mt-1">
							<div class="content-attraction bg-gray">
								<a href="/search/?province={{detail.province}}"><h6><i class="fa fa-plane fa-fw"  style="font-size:20px;"></i>จังหวัด:  {{detail.province}}</h6></a>
								<h6> <i class="fa fa-location-arrow fa-fw" style="font-size:20px;"></i>ประเภทแหล่งท่องเที่ยว:  {{detail.category}}</h6>
							</div>		
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 mt-1">
							<div class="content-attraction bg-gray">
								<h6> <i class="fa fa-thumb-tack fa-fw" style="font-size:20px;"></i>ที่ตั้ง:  {{detail.address|slice:"8:"}}</h6>
							</div>	
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 mt-1 ">
							<div class="content-attraction bg-gray">
								<h6> <i class="fa fa-comment fa-fw" style="font-size:20px;"></i>ข้อมูลติดต่อ:  {{detail.contact}}</h6>
							</div>	
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-12 mt-1">
							<div class="content-attraction bg-gray">
								<a class="btn genric-btn success-border circle col-md-12" href="{{ detail.get_test_plan_url }}" > <i class="fa fa-heart"> </i> เพิ่มลงแผนการท่องเที่ยว</a>
							</div>
							


							
						</div>
					</div>

				</div>
			</div>
		</div>
    
		<!-- Start Sample Area -->
		<section class="section-top-border">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<h3 class="text-heading">รายละเอียด</h3>
					</div>
					<div class="col-md-9">
						<p class="sample-text">{{ detail.detail|linebreaks }}</p>
					</div>
			
				</div>	
			</div>
		</section>
		<!-- End Sample Area -->

		<div class="section-top-border">
			<div class="container box_1170">
				<div class="row">
					<div class="col-md-3">
						<h3 class="text-heading">เวลาทำการ</h3>
					</div>
					<div class="col-md-9">
						<p class="sample-text">{{detail.time|slice:"9:"}}</p>
					</div>
			
				</div>	
			</div>	
		</div>


		


		<div class="section-top-border">
			<div class="container box_1170">
				<div class="mb-5 pb-4">
					<h3 class="text-heading">แผนที่</h3>
					<iframe
						width="100%"
						height="450"
						frameborder="0" style="border:0"
						src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC29LAeniiLeMliJJ4SJsPff9vFLii2b3k
							&q={{detail.lat}},{{detail.lng}}" allowfullscreen>
					</iframe>

				</div>

			</div>
		</div>
	</div>
</div>







</div>





{% endblock %}