{% extends 'attraction/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<style>
.register-form{
    padding-bottom: 40px;
    background-image: url('/static/img/banner/pexels-photo-460376.jpeg');    
}

</style>

<div class="row justify-content-center register-form">
    <div class="col-md-6 p-5 m-3 contact-form bg-white">
        <h1>ลงทะเบียนผู้ใช้งาน</h1>
        <hr/>
        <form method="POST" action="" enctype='multipart/form-data' >
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-danger  btn-block" value="Register" />
        <p style="text-align:right; padding-top:10px;">มีบัญชีผู้ใช้อยู่แล้ว? <a href="{% url 'login' %}" class="ml-2">ลงชื่อเข้าใช้งาน</a></p>
        </form>
    </div>
</div>

{% endblock %}